body {
	margin		: 0;
	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
	overflow		: hidden;
	overflow-y		: hidden;
}


/* devanagari */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: local('Khand Bold'), local('Khand-Bold'), url(https://fonts.gstatic.com/s/khand/v7/TwMN-IINQlQQ0bLpd2ExbQel_O-D5hw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: local('Khand Bold'), local('Khand-Bold'), url(https://fonts.gstatic.com/s/khand/v7/TwMN-IINQlQQ0bLpd2E-bQel_O-D5hw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: local('Khand Bold'), local('Khand-Bold'), url(https://fonts.gstatic.com/s/khand/v7/TwMN-IINQlQQ0bLpd2EwbQel_O-D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xFIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xMIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xEIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xLIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xHIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xGIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic3CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic-CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic2CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic5CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic1CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic0CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.nav {
	background: linear-gradient(to bottom,rgba(0,0,0,.7) 0%,rgba(0,0,0,0) 80%);
	overflow: hidden;
	padding: 2em 0 4em;
	position		: absolute;
	width		: 100%;
	display		: flex;
	flex-direction: row;
	justify-content: space-between;
	top		: 0px;
}

.nav-right {
	margin-right		: 30px;
	display		: flex;
}

.nav-item {
	margin		: 10px;
	z-index		: 1000;
}

.nav-item svg{
	height		: 20px;
}

.logo {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1.2em;
	font-weight: 700;
	letter-spacing: .03em;
	font-size: .9rem;
	display: inline-block;
	border: 2px transparent solid;
	font-family		: "Roboto",sans-serif;
}

.sector{
	visibility		: hidden;
	opacity		: 0;
	position		: absolute;
	top		: 0px;
	width		: 100%;
	height		: 100vh;
	display		: flex;
	transition		: all 0.5s ease;
	pointer-events		: none;
}


.h1{
	font-size: 44px;
	font-family		: "Khand",sans-serif;
	line-height		: 32px;
	display		: flex;
	flex-wrap		: wrap;
	pointer-events		: auto;
}

.h1 span{
	background-color		: rgb(253, 51, 51);
	color		: white;
	padding		: 5px;
	vertical-align: middle;
	height		: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1 .link{
	background-color		: rgb(253, 51, 51);
	color		: white;
	padding		: 5px;
	vertical-align: middle;
	height		: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor		: pointer;
	text-decoration		: underline;
}

.multiline {
}

.top-right {
	margin-left		: 60%;
	margin-top		: 15vh;
}

.top-left {
	margin-left		: 15%;
	margin-top		: 15vh;
	margin-bottom: auto;
}

.bottom-left {
	margin-left		: 10%;
	margin-top		: 80vh;
}

.bottom-right {
	width: 330px;
	margin-left: 60%;
	margin-top: 60vh;
	margin-bottom: auto;
}

.bottom {
	margin-top		: 80vh;
	margin-left		: auto;
	margin-right	: auto;
	width		: 100%;
	text-align		: center;
	display		: flex;
	justify-content		: center;
}

.tip{
	position		: absolute;
	top		: 87%;
	width		: 100%;
	display		: flex;
	justify-content: center;
}

.tip>div{
	background: rgba(0,0,0,.3);
	color: #c7c7c7;;
	font-family: Roboto, sans-serif;
	font-size		: 16px;
	border-radius		: 5px;
	padding		: 10px;
	display		: flex;
}

.tip svg{
	fill: #c7c7c7;
	animation		: shake 1s ease-in-out 5; 
}

@keyframes shake{
	0% { transform: rotateZ(0deg)}
	25% { transform: rotateZ(15deg)}
	50% { transform: rotateZ(0deg)}
	100% { transform: rotateZ(-15deg)}
}

.close-icon {
	position		: absolute;
	right		: 50px;
	top		: 100px;
	width		: 24px;
	opacity		: 0;
	visibility		: none;
	cursor		: pointer;
	transition		: all 0.5s ease;
}

.close-icon svg{
	fill		: white;
}

.skill {
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(0, 127, 127, 0.567);
	color: rgba(255,255,255,0.9);
	font-family: "Roboto",sans-serif;
	padding		: 5%;
	border-radius		: 3px;
	word-break		: keep-all;
}

.ball {
 display: block;
 background: black;
 border-radius: 50%;
 height: 300px;
 width: 300px;
 margin: 0;
 background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

.box-side {
	cursor		: pointer;
}

.arrow {
	position		: absolute;
	top		: 25%;
	opacity		: 0;
	transition		: all 0.5s ease;
	cursor		: pointer;
	z-index		: 1000;
}

.arrow svg{
	width		: 50px;
	fill		: rgb(118, 118, 118);
}

.arrow svg:hover{
	fill		: rgb(218, 218, 218);
}

.arrow.left{
	left		: 10px;
}

.arrow.right{
	right		: 10px;
}

/*
.slider {
	position		: absolute;
	top		: 0px;
	left		: 0px;
	width		: 100%;
	height		: 100%;
	background		: url('/static/spance.png');
}

.slider-inner  {
	padding-top		: 20%;
	padding-bottom		: 20%;
	display		: flex;
	flex-direction		: row;
}

.arrow {
	width		: 40px;
}

.arrow svg{
	width		: 40px;
	fill		: gray;
}
*/

.select-language	{
	position		: absolute;
}

.footer {
	position		: absolute;
	bottom		: 5px;
	font-size		: 12px;
	color		: white;
	font-family: Roboto, sans-serif;
	margin-left		: 10px;
	z-index		: 1000;
}

.footer svg {
	fill		: white;
	width		: 20px;
	height		: 20px;
	margin-left		: 5px;
	margin-top		: 15px;
}

.button {
	border: 2px #fe7b01 solid;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding		: 0 10px;
	font-weight: 700;
	letter-spacing: .03em;
	display: flex;
	margin-left		: 10px;
	margin-bottom: auto;
	transition		: all 0.1s ease;
	cursor		: pointer;
}

.button:hover{
	border: 2px white solid;
}

.button span {
	font-family: "Roboto",sans-serif;
	background		: none;
	font-size: 24px;
}

.center		{
	width		: 100%;
	display		: flex;
	flex-direction		: row;
	justify-content		: center;
}

.loading {
  -webkit-animation:fadein 2s;
     -moz-animation:fadein 2s;
       -o-animation:fadein 2s;
          animation:fadein 2s;
	background-color		: #001e44;
	z-index		: 9999999;
	position		: absolute;
	top		: 0;
	left		: 0;
	width		: 100%;
	height		: 100vh;
}
@-moz-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-webkit-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@-o-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}

.spinner-wrapper {
  min-width:100%;
  min-height:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  z-index:300;
}

.spinner-text {
	position:absolute;
top:41.5%;
left:47%;
margin:16px 0 0 35px;
font-size:9px;
font-family:
Arial;color:#BBB;
letter-spacing:1px;
font-weight:700
}

.spinner {
  margin:0;
  display:block;
  position:absolute;
  left:45%;
  top:40%;
  border:25px solid rgba(100,100,100,0.2);
  width:1px;
  height:1px;
  border-left-color:transparent;
  border-right-color:transparent;
  -webkit-border-radius:50px;
     -moz-border-radius:50px;
          border-radius:50px;
  -webkit-animation:spin 1.5s infinite;
     -moz-animation:spin 1.5s infinite;
          animation:spin 1.5s infinite;
}

@-webkit-keyframes spin {
  0%,100% {-webkit-transform:rotate(0deg) scale(1)}
  50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes spin  {
  0%,100% {-moz-transform:rotate(0deg) scale(1)}
  50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes spin  {
  0%,100% {-o-transform:rotate(0deg) scale(1)}
  50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes spin  {
  0%,100% {transform:rotate(0deg) scale(1)}
  50%     {transform:rotate(720deg) scale(0.6)}
}
